@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these base styles */
@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-300;
  }

  /* Add transition to all sections */
  section {
    @apply transition-colors duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

.right-25 {
     right : 25px;
}
.right-20 {
     right : 20px;
}
.pl-10 {
     padding-left : 10px;
}